/* colors */

* {
al:		#00000000;
bg:		#353535FF;
se:		#43978DFF;
red:	#C6A477FF;
green:	#F9AD6AFF;
fg:		#FFFFFFFF;
ac:		#D46C4EFF;
yellow:	#FDD835ff;
blue:	#42A5F5ff;
purple:	#BA68C8ff;
cyan:	#4DD0E1ff;
}
